<div layout="column" flex>

  <div flex class="md-padding">
    <div layout="row" layout-align="center center">
      <h3 ng-hide="createCtrl.submitted">Create Ride form</h3>
    </div>

    <div layout="row" layout-align="center center">
      <form ng-hide="createCtrl.submitted" name="createRide">
        <md-input-container>
          <label>Ride Name (A sweet name for your ride)</label>
          <input ng-model="createCtrl.form.rideName">
        </md-input-container>
        <md-input-container>
          <label>Ride Location</label>
          <input ng-model="createCtrl.form.location" required>
        </md-input-container>
        <md-input-container>
          <label>Ride Time</label>
          <input ng-model="createCtrl.form.time" required>
        </md-input-container>

        <div ng-show="createCtrl.loading" layout="row" layout-sm="column" layout-align="space-around">
          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>

        <md-button ng-hide="createCtrl.loading" class="md-raised md-secondary" ng-click="createCtrl.createRide()">Create</md-button>
      </form>

      <div ng-show="createCtrl.submitted">
        <md-card>
          <md-card-content>
            <h2 class="md-title">{{createCtrl.result.rideName}}</h2>
            <p>Rider: {{createCtrl.result.riderName}}</p>
            <p>Pillion Rider: Empty</p>
            <p>Location: {{createCtrl.result.location}}</p>
            <p>Time: {{createCtrl.result.time}}</p>
          </md-card-content>
          <div class="md-actions" layout="row" layout-align="end center">
            <md-button ng-click="createCtrl.shareTimeline()">Share To Timeline</md-button>
            <md-button ng-click="createCtrl.shareMessage()">Share via FB Message</md-button>
          </div>
        </md-card>
      </div>
    </div>
    
  </div>
</div>
