<div layout="column" flex>

  <div flex class="md-padding">

    <div id="profilePic" layout="row" layout-align="start center">
      <img ng-src="{{homeCtrl.picture}}" alt="Profile Picture"/>
      <span id="fb-welcome">{{user.username}}</span>
    </div>

    <div layout="column" layout-align="start center">
      <p>Welcome to Pillion Rider. A place to find pillion riders and get found by people who are looking for pillion riders.</p>
    </div>

    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Create Ride Tab">
        <div ng-controller="CreateCtrl as createCtrl">
          <create-ride></create-ride>
        </div>
      </md-tab>

      <md-tab label="Search Ride Tab">
        <div ng-controller="SearchCtrl as searchCtrl">
          <search-ride></search-ride>
        </div>
      </md-tab>

      <md-tab label="My Rides Tab">
        <div ng-controller="MyRidesCtrl as myRidesCtrl">
          <my-rides></my-rides>
        </div>
      </md-tab>
    </md-tabs>

  </div>
</div>
