<div layout="column" flex>

  <div flex class="md-padding">

    <div id="profilePic" layout="row" layout-align="start center">
      <img ng-src="{{homeCtrl.picture}}" alt="Profile Picture"/>
      <span id="fb-welcome">{{user.username}}</span>
    </div>

    <md-tabs md-center-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Search Ride" label-sm="Search" md-on-select="homeCtrl.searchSelected()">
        <div ng-controller="SearchCtrl as searchCtrl">
          <search-ride></search-ride>
        </div>
      </md-tab>

      <md-tab label="Create Ride">
        <div ng-controller="CreateCtrl as createCtrl">
          <create-ride></create-ride>
        </div>
      </md-tab>

      <md-tab label="My Rides" md-on-select="homeCtrl.myRidesSelected()">
        <div ng-controller="MyRidesCtrl as myRidesCtrl">
          <my-rides></my-rides>
        </div>
      </md-tab>
    </md-tabs>

  </div>
</div>
